/.idea
/.gradle
/build
/app/build
/gradle
/TH-ProgressButton1.iml
/app/app.iml
/ic_launcher-web.png
/ProgressButton.gif
/screenshots/progressshot1.png
/screenshots/progressshot2.png
/screenshots/progressshot3.png
/screenshots/progressshot4.png
